/*Vector SVstyles*/

.left-vector{
   position: absolute;
   height: 670px;
   width: 800px;
   bottom: -120px;
   /* border: 2px solid red; */
   /* display: none; */
}


/*------ logo styles-------  */

.login-logo{
   /* width: 228px; */
   display: flex;
   align-items: center;
   gap: 8px;
   position: relative;
   top: 100px;
   left: 129px;
   z-index: 3;
}

.login-logo img{
   width: 30px;
   height: auto;
}

.login-logo p{
   font-size: 18px;
   font-weight: 300;
   color: var(--grey-white);

}

/* ---background styles---- */
.login-bg{
   background: var(--dark-gradient);
   height: 100vh;
   margin: 0 auto;
   position: relative;
   
}
.login-flex-container{
   gap: 100px;
   height: 100%;
   width: 100%;
    display: flex;;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 80px 0;
    position: absolute;
    z-index: 5;
    
    /* padding: 0 20px; */
    /* background: red; */
 }


 /* ----end of background styles---- */




 .login .login-title{
   /* padding: 50px; */
   text-align: center;
   width: 430px;
   height: auto;
   font-size: 20px;
   /* position: relative; */
   z-index: 1;
}

.login .login-title h1{
   font-weight: 500;
   font-size: 75px;
}


.login .login-title p{
   font-size: 23px;
   margin-top: 11px;
   font-weight: 300;
   color: var(--grey-light);

}

.login .login-title span{
   color: var(--orange);
}


/* -----  create account  and form  styles  --- */

.login .create-account{
   padding: 88px 0;
   border: 1px solid var(--grey-middle);
   border-radius: 29px;
   background-color: #1a1a1a31;

}

.create-account form{
   margin: 0 70px;
   width: 350px;
}

.login .create-account h3{
   font-size: 32px;
   padding-bottom: 39px;
   font-weight: 500;
   color: var(--grey-white);
   text-align: center;
}

.create-account form label{
   font-size: 18px;
   font-weight: 200;
   color: var(--grey-light);
   display: block;

}

.create-account input{
   margin: 3px auto 16px auto;
   width: 100%;
   height: 50px;
   border: 1.5px solid var(--grey-dark);
   border-radius: 6px;
   background-color: transparent;
   padding-left: 16px;
   font-weight: 100;
   color: var(--grey-light);
   font-size: 16px;
}

/* sudo selector styles starting */

.create-account input::placeholder{
   font-size: 16px;
   margin-left: 27px;
   font-weight: 300;
   color: var(--grey-placeholder);
   /* padding-left: 26px; */
}

.create-account input:focus{
   outline: none;
   border: 1.5px solid var(--orange);
}


/* sudo selector style ending */

.create-account .login-agree{
   display: flex;
   gap: 10px;
   align-items: center;
   /* background: red; */
}
.create-account .checkbox{
   width: 19px;
   margin: 0;
   cursor: pointer;
   accent-color: var(--orange);
}

.create-account .login-agree{
   /* background: red; */
   line-height: 1.6;
   margin-bottom: 8px;

}
.create-account .login-agree p{
   font-size: 16px;
   color: var(--grey-white);
}

.create-account .login-agree span{
   color: var(--orange);
   border-bottom: 1px solid var(--orange);
   cursor: pointer;
}

.create-account .register-btn{
   width: 100%;
   margin-bottom: 40px;
   transition: background-color 0.s ease;
}

.create-account .register-btn:hover{
   background-color: var(--orange-hover);
}

.create-account .have-account{
   line-height: 1.6;
   text-align: center;
   color: var(--grey-white);
}

.create-account .have-account span{
   color: var(--orange);
   border-bottom: 1px solid var(--orange);
   cursor: pointer;
}

@media (max-width: 1084px){
   .login-flex-container{
      width: 100%;
      height: auto;
      gap: 15px;
   }

   .login .login-title h1{
      font-size: 60px;
      width: auto;
      height: auto;
   }
   .login .login-title{
      /* padding: 20px; */
      max-width: 340px;
      height: auto;
   }
   .create-account form{
         margin: 0 50px;
   }
}

@media (max-width: 860px){
   .login .login-title{
      display: none;
   }
   .create-account form{
      margin: 0 70px;
   }
   .create-account{
      margin-top: 70px;
   }
}

@media (max-width: 564px){
   .create-account form{
      margin: 0 25px;
   }

   .create-account{
      padding: 1px 0;
   }
}
