.dashboard-transaction{
    background: var(--dark-gradient);
    color: var(--grey-light);
    margin-top: 60px;

    hr{
        max-width: 90%;
        margin: 15px auto 20px auto;
        border: 1px solid var(--grey-placeholder)
        
    }

    h4{
        font-weight: 400;
        font-size: 24px;
        padding-left: 118px;

    }

    .categories-status{
        width: 70%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto 20px auto;

    }

    select{
        padding: 8px 40px;
        font-size: 16px;
        background: #0F0F0F url("../../assets/Polygon-icon.svg") no-repeat right 10px center;
        background-size: 12px;
        color: var(--grey-middle);
        border: none;
        border-radius: 7px;
        appearance: none;            /* Removes default arrow (modern browsers) */
        -webkit-appearance: none;    /* Safari / Chrome */
        -moz-appearance: none;       /* Firefox */

        &:-ms-expand {
            display: none;}  /* Removes default arrow (IE 10+) */

        &:hover{
            cursor: pointer;
        }

        option{
            outline: none;
            background: var(--dark-gradient);
            border: none;

            &:focus{
                outline: none;
            }
        }
    }

    .transaction-details{
        width: 70%;
        margin: 0 auto;
    }

    .annoucement{
        width: 60%;
        text-align: left;
        margin: 0 auto;
        h4{
            text-align: center;
            font-size: 24px;
            margin-top: 40px;
            margin-bottom: 20px;
        }

        li{
            color: var(--grey-middle);

            &::before{
                content: '- ';
            }
        }
    }
}

.dashboard-transaction select:focus{
    &:focus{
            outline: none !important;
            box-shadow: none !important;
            border: none !important
        }
}