.transactions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--grey-light);
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.transaction .transaction-left {
    margin: 0;
    padding: 0;
}

.transaction-left h4 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 400;
}

.transaction-left p {
    color: var(--grey-middle);
    font-size: 16px;
}

.transaction-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-self: flex-end;

    margin-bottom: 18px;
}

.transaction-right-amount {
    display: flex;
    column-gap: 4px;
    color: var(--orange);
    align-items: center;
    margin: 0;
    padding: 0;
}

.transaction-right-amount img {
    height: 18px;
}

.transaction-right-amount p {
    font-size: 24px;
}

@media (max-width: 802px) {
    .transaction-left h4{
        font-size: 20px;
    }
    .transaction-left{
        align-self: center;
    }
    .transaction-right p{
        font-size: 20px;
    }
    .transaction-right{
        margin: auto 0;
    }
    .transaction-right span{
        font-size: 16px;
    }
}
@media (max-width: 467px) {
    .transactions .transaction-left p{
        font-size: 11px;
    }
    .transactions .transaction-left h4{
        font-size: 16px;
    }
    .transactions .transaction-right p{
        font-size: 18px;
    }
    .transactions .transaction-right span{
        font-size: 11px;
    }
    .transactions .transaction-right img{
        height: 14px;
    }
    .transactions {
        row-gap: 1px;
        margin: 0 10px;
    }
}
