.dashboard{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}


.dashboard .dashboard-hero-container{
    grid-column: 2/-1;
    display: flex;
    justify-content: flex-end;
}

.dashboard .dashbord-sidebar-container{
    grid-row: 1/-5;
    grid-column: 1/2;
    position: fixed;
    z-index: 2;
}

.dashboard .dashboard-transaction{
    grid-column: 2/-1;
    grid: 2/-1;       
}

@media (max-width: 1300px){
    .dashboard{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1024px) {
    .dashboard{
        grid-template-columns: repeat(7, 1fr);
    }
    .dashboard .dashboard-hero-container{
        grid-column: 1/-1;
        justify-content: center;
    }

    .dashboard .dashboard-transaction{
        grid-column: 1/-1;
        justify-content: center;
    }
    .dashbord-sidebar-container{
        /* width: calc(100%/7); */
        display: grid;
        justify-content: center;
        /* border: 2px solid red; */
    }
}




