.hero{
    margin: 120px 30px 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 80px;
    padding-bottom: 100px;
    position: relative;
    z-index: 2;
    /* background: red; */
    width: 100%;
}

.hero-img{
    padding: 20px;
}
.hero-img img {
    width: 400;
    height: 400px;
  object-fit: cover;
  overflow: visible;
  filter: drop-shadow(0 0 10px rgba(255, 132, 0, 0));
  transition: filter 0.7s ease;
}

.hero-img img:hover {
    filter: drop-shadow(0 0 10px rgba(255, 145, 0, 0.286));
}


.hero-text{
    max-height: 370px;
    max-width: 500px;
    /* background-color: red; */
}


.hero h1{
    font-size: 70px;
    font-weight: 450;
    font-style: italic;
    color: var(--grey-light);

}

.hero h1 span{
    color: var(--orange);
}

.hero .hero-text p{
    font-size: 24px;
    color: var(--grey-middle);
    /* background-color: red; */
    font-style: italic;
    margin: 2px auto 22px auto;
}

.hero button{
    padding-right: 97px;
    padding-left: 97px;
    transition: background-color 0.3s ease;
}
.hero button:hover{
    background-color: var(--orange-hover);
    /* transition: 0.5s; */
}

.texture{
    width: 100%;
    height: 750px;
    background-image: url('../../assets/Background-texture.svg');
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0%;
    border-bottom: 1.5px solid var(--grey-light);
    opacity: 0.6;
}

.hero-bg-gradient{
    width: 100%;
    height: 750px;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--dark-gradient);
    overflow-x: hidden;
}

@media (max-width: 1100px) {
    .hero{
        gap: 30px;
        padding: auto 20px ;
    }
}

@media (max-width:950px){
    .hero{
        gap: 10px;
    }
}