h2{
    text-align: center;
    font-size: 44px;
    color: var(--grey-middle);
    font-weight: 600;
    letter-spacing: 0%;
    margin-top: 60px;
    margin-bottom: 30px;
}


@media (max-width: 600px){
    h2{
        font-size: 35px;
    }
}