.footer{
    margin: 65px 10%;
}

.footer-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1000px;
}

.footer-left{
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.footer-left img{
    width: auto;
    height: 40px;
}

.footer-left p{
    font-size: 28px;
    color: var(--grey-white);
}

.footer-right ul li{
    display: inline;
    list-style: none;
    padding-left: 50px;
    color: var(--grey-white);
    cursor: pointer;
    transition: color 0.3s ease;
    
}

.footer-right ul li:hover{
    color: var(--orange);
}

.footer-reserve{
    text-align: center;
    margin-top: 38px;
    color: var(--grey-placeholder);

}

@media (max-width: 800px){
    .footer{
        margin-top: 50px;
    }
    .footer-right ul li{
        padding: 10px;
        overflow-y: hidden;
    }
    .footer-left p{
        font-size: 20px;
    }
    .footer-left img{
        width: 30px;
    }
}

@media (max-width: 527px){
        .footer-list{
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 10px;
    }
    .footer-left p{
        font-size: 18px;
    }
    .footer-left img{
        width: 25px;
    }
    .footer-left{
        gap: 5px;
    }
    .footer-right ul{
        padding: 0 15px;
    }
    .footer-right ul li{
        padding: 0 4px;
        font-size: 16px;
    }

    .footer-reserve{
        margin-top: 20px;
    }
}

@media (max-width: 467px){
    .footer-list{
        flex-direction: column;
        gap: 3px;        
    }
}